<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stack-Lite</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
      <div class="wrap">
        <nav class="top-menu">
            <div class="container">
                <div id="logo"> <a href="index.html">Stack-Lite</a></div>
                <div id="auth-btns">
                    <a href="userRegister.html"> <button>Signup</button> </a>
                    <a href="userLogin.html"> <button>Login</button> </a>
                </div>
            </div>
        </nav>
        <header>
            <div class="header-content">
                <div class="promo">
                    <h1>Ask, Answer, Learn</h1>
                    <p>Stack-Lite is a platform that allows users to ask questions and also post answers to other users' questions</p>
                    <p>Join the world's best Q &amp; A community.</p>
                </div>
                <div class="header-signup">
                    <form action="" id="header-signup-form">
                        <div class="form-row">
                            <label for="username">Display name</label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div class="form-row">
                            <label for="email">Email address</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="form-row">
                            <label for="username">Password</label>
                            <input type="password" name="password" id="password">
                        </div>
                        <div class="form-row">
                            <button type="submit">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </header>

        <div class="content" id="landing-content">
            <div class="questions-panel">
                <h2>Top Questions</h2>
                <a href="userAsk.html"><button>Ask Question</button></a>
            </div>
            <hr>
            <div class="questions">
                <div class="question">
                    <h3>How to ask questions</h3>
                    <span>Asked by: Luqi</span>
                    <span>5 Answers.</span>
                </div>
                <div class="question">
                    <h3>How to show result using on change method?</h3>
                    <span>Asked by: Luqi</span>
                    <span>2 Answers.</span>
                </div>
                <div class="question">
                    <h3>Extracting values from API GET string</h3>
                    <span>Asked by: Luqi</span>
                    <span>12 Answers.</span>
                </div>
                <div class="question">
                    <h3>how to use laravel collective package v5.4 in laravel v5.7</h3>
                    <span>Asked by: Luqi</span>
                    <span>4 Answers.</span>
                </div>
            </div>
        </div>
        <footer>
            <p>Website designed and developed by <span>Luqee Creations</span>.</p>
        </footer>
      </div>
      <script src="../static/js/index.js"></script>
    </body>
</html>